/* reset */

html, body, address, blockquote, del, div, h1, h2, h3, h4, h5, h6, hr, ins, noscript, p, pre, dl, dt, dd, li, ol, ul, table, caption, colgroup, col, thead, tfoot, tbody, tr, td, th, form, button, fieldset, legend, label, select, optgroup, option, textarea, a, bdo, br, img, map, area, object, param, q, script, span, sub, sup, abbr, acronym, cite, code, del, dfn, em, ins, kbd, samp, strong, var, b, big, i, small, tt{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
ol, ul{list-style:none;}
th{text-align:left;}
table{border-collapse:collapse;}


/* global */


#header {
	width:140px;
	max-width:140px;
	height:41px;
	display: inline-block;
	float: left;
	width: 1220px;
	margin-top: 4px;
	font-size: 16pt;
	font-weight: bold;
}

#logo {
	position: relative;
}

#saucer2 {
	opacity:1;
	-moz-transition: opacity 2s; /* Firefox 4 */
	-webkit-transition: opacity 20s; /* Safari and Chrome */
	-o-transition: opacity 2s;
	transition: opacity 10s;
	position: relative;
	top: -52px; 
	left: 89px;
}

#beam_wrapper {
	height: 0px;
}

#i {
    height:0px;
    width:12px;
	position: relative;
	top: -58px; 
	left: 96px;
}

body {
	background:#eee;
}
a:link,
a:visited {}
a:hover,
a:visited:hover {}
table td {}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

p {}
span {}
hr {}
label {}
input[type=text] {}
input[type=text]:focus {}
input[type=submit] {}
textarea {}



::selection {}
::-moz-selection {}

/* misc */

strong {font-weight:bold;}
em {font-style:italic;}
.cb	{clear:both;}


/* main layout sections */

main {
	background:#fff; 
	width:1250px;
	margin:0 auto;
	font-family: 'Antic Slab', serif;
	font-size: 12pt;
}

section {
	position: relative;
}

#container {
	margin:0 auto; 
	width:1250px;
}


/* chart is the main bar chart with our results */

#chart {
	float: left;
	width: 1220px;
	background-color: #FFF;
	margin: 10px 0px; 
	border-radius: 6px; 
	padding: 6px; 
	border: 4px double #eee;
	box-shadow: 2px 2px 1px #c9c9c9;
}

#chart-header{
	text-align: left;
	font-weight: bold;
	font-size: 12pt;
	border-radius: 4px; 
	padding: 10px;
	margin-bottom: 8px;
	background-color: #fcfcfc; 
	border: 1px solid #f8f8f8; /* #e3e3e3 */
}

/* timeline is displayed beneath bar chart, and contains both an event div and a infobar div */

#timeline {
	position: relative;
	float: left;
	font-weight: bold;	
	width: 1152px;
	height: 48px;
	font-size: 8pt;
	border-radius: 4px; 
	margin-left: 49px;
	margin-bottom: 8px;
	background-color: #fcfcfc; 
	border: 1px solid #e3e3e3;
	overflow: visible;	
}

#timeline-events {
	position: absolute;
	float: left;
	width: 1138px;
	height: 40px;
	padding: 10px;
	overflow: visible;	

}

/* timeline-infobar is within the timeline div, displayed beneath the icons */

#timeline-infobar {
	position: relative;
	float: left;
	width: 1116px;
	height: 132px;
	padding: 6px;
	margin: 6px 10px;
	display: none;
	border-radius: 4px; 
	border: 1px solid #e3e3e3;
	background-color: #fff;
	top: 40px;
}

#timeline-infobar-contents {
}

#timeline-infobar-contents .close { 
	float: left;
	margin-left: 2px;
	margin-right: 4px;
	width: 10px;
	vertical-align: top;
	font-size: 12px;
	color: #dedede;
	cursor: pointer;
}

#timeline-infobar-contents img {
	float: left;
	padding: 1px;
	border: 1px solid #e3e3e3;
    width: 120px;
    height: 120px;
    margin: 3px;
}

#timeline-infobar-contents ul { 
   list-style-type: disc; 
   list-style-position: inside;
   line-height: 110%; 
}
#timeline-infobar-contents li { 
	margin: 8px 0px;
	font-size: 8pt;
}

#timeline-infobar-contents .title {
	float: left;
	font-size: 12pt;
	font-weight: bold;
	padding: 4px 8px;
	width: 300px;
	height: 120px;
	border-radius: 2px;
	overflow-y: scroll;
}

#timeline-infobar-contents .description {
	float: left;
	overflow: auto;
	font-size: 8pt;
	padding: 4px 8px;
	width: 620px;
	height: 110px;	
	border-left: 1px dotted #e3e3e3;
	overflow-y: scroll;

}
#timeline-infobar-contents .link a {
	float: right;
	font-size: 8pt;
	text-decoration: none;
	margin: 0px 10px 10px 0px;
	color: steelblue;
}


.event-icon {
	position: absolute;
	float: left;
	background-color: #e3e3e3;
	width: 24px;
	height: 24px;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 7pt;
	z-index: 2;
}

.event-icon-pointer {
	position: absolute;
	float: left;	
	height: 16px;
	width: 1px;
	border-left: 2px solid #e3e3e3;
	left: 66px;
	top: 30px;
	display: none;
	z-index: 1;
}
.event-icon-up-pointer {
	position: absolute;
	float: left;	
	height: 48px;

	border-left: 2px solid #FFD573;	

	top: -35px;
	display: none;
	z-index: 1;
}


/* Map Styles */

#map {
	float: left;
	width: 800px;
	height: 490px;
	background-color: #FFF; 
	border-radius: 6px; 
	padding: 6px; 
	border: 4px double #eee;
	box-shadow: 2px 2px 1px #c9c9c9;
}

#map-container{
	margin: 18px auto 0px auto;
	border: 1px solid black;
	display:block; 
	height:450px; 
	width:750px;

}

/* Sidebar contains month report details, displayed when user clicks on a bar */

#sidebar {
	float: left;
	width: 393px;
	height: 600px;
	background-color: #FFF;
	margin-right: 8px; 
	border-radius: 6px; 
	padding: 6px; 
	border: 4px double #eee;
	box-shadow: 2px 2px 1px #c9c9c9;
}

#sidebar-content-container{
	padding: 4px;
	border: 1px dotted #f0f0f0;
	height: 360px;
	overflow-y: scroll;
	overflow-x: hidden;
	border-radius: 4px;
	box-shadow: 1px 1px 2px #f8f8f8 inset;
    -moz-box-shadow: 1px 1px 2px #f8f8f8 inset;
    -webkit-box-shadow: 1px 1px 2px #f8f8f8 inset;

}

#sidebar-content{
	margin: 0px auto;
	float: center;
	width: 350px;
	height: 392px;
}

#sidebar-content-header{
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
	background: #fcfcfc;
	border-radius: 4px; 
	padding: 10px;
	margin-bottom: 8px; 
	border: 1px solid #e3e3e3;
}

#sidebar-month-visualization{
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
	background: #fff;
	border-radius: 4px; 
	padding: 10px;
	margin-bottom: 8px; 
	border: 1px solid #e3e3e3;
	height: 150px;
}

.sighting-list {
}

.sighting-item {
	font-size: 10pt;
	padding: 4px 0px;
	border-bottom: 1px dotted #cfcfcf;
	margin-bottom: 3px;
}

.sighting-item .title {
	font-weight: bold;
	margin-bottom: 4px;
}

.sighting-item .description {
	font-size: 8pt;
}

#footer {
	float: left;
	width: 1220px;
	height: 50px;
	border-radius: 6px; 
	padding: 8px;
	margin: 8px 0px;
	background-color: #fcfcfc; 
	border: 4px double #eee;
	box-shadow: 2px 2px 1px #c9c9c9;
}

#footerlogo {
	position: absolute;
	opacity:0.4; 
}

footertext {
	position: absolute;
	text-align: right;
	color: #b8b8b8;
	font-size: 8pt;
}

/* svg styles */

svg {
	padding: 10px;
}

.grid{
	stroke: lightgrey;
	opacity: 0.5;
	stroke-width: 1px;
}

.axis path,
.axis line {
	fill:none; 
	stroke:#aaa; 
	stroke-width:1px;
    shape-rendering: crispEdges;
}

.tick text {
	fill:#aaa; 
	font-size:.75em; 
	font-weight:normal;
}
.month-info {
	position: absolute; 
	text-align: center;
	background-color:rgba(255,255,255,0.95);
	width: 120px;
	border-radius: 4px; 
	padding: 6px;
	margin-bottom: 8px; 
	border: 1px solid #C99C30;
	display: none;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);	
}
.info {
	position: absolute; 
	z-index: 100;	
	text-align: center;
	background-color:rgba(255,255,255,0.95);
	width: 120px;
	border-radius: 4px; 
	padding: 6px;
	margin-bottom: 8px; 
	border: 1px solid #632400;
	display: none;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);	
}
.info .title{
	font-weight: bold;
	font-size: 8pt;
	margin-bottom: 4px;
}
.info .description{
	font-size: 7pt;
}
.sidebar-info {
	position: absolute;
	z-index: 100;
	text-align: center;
	background-color:rgba(255,255,255,0.95);
	width: 140px;
	border-radius: 2px; 
	padding: 4px;
	margin-bottom: 8px; 
	border: 1px solid #C99C30;
	display: none;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);	
}
.sidebar-info .title{
	font-weight: bold;
	font-size: 7pt;
	margin-bottom: 4px;
}
.sidebar-info .description{
	font-size: 7pt;
}
.month-marker-container{
	height: 0px;
}
.month-marker {
	position: relative;
	text-align: center;
	vertical-align: middle;
	overflow: visible;
	background-color:rgba(255,255,255,0.90);
	width: 50px;
	height: 50px;
	border-radius: 50%; 
	padding: 4px;
	border: 2px solid #FFD573;
	display: none;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);	
}
.month-marker .title{
	margin-top: 15px;
	margin-left: 3px;
	font-weight: bold;
	font-size: 6pt;
	letter-spacing: -1px
}
.month-marker .description{
	font-size: 8pt;
	margin-left: 3px;
}
text {
	cursor: default;
}
h1 {
	font-size: 150%;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute; 
	left: 130px; 
	top: 15px; 
	color: gray;
	display: inline-block;
	text-align: center;
}
h1 span {
	display:block;
	font-size: 60%;
}

.bar {

}

.selected {
	/* style for the bar in the chart that the user clicked on */
	fill: red !important;
}

.infoHeader {
	position: absolute;
	top: 66px;
	left: 183px;
	font-family:sans-serif; 
	color: gray; 
	font-size: 80%;
}
.infoHeader div span {
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	margin-right: 4px;
}
.infoHeader div:nth-of-type(1) span {
	background-color: #447cb8; 
	margin-right: 17px;
}
.infoHeader div:nth-of-type(2) span {
	background-color: red; 
	border-radius: 10px;
}
